.box {
  border: 1px solid #9E9D9D;
}

.box.location{
  position:relative;
  width: 25%;
  height: 85vh;
  border-right: transparent
}

.box.main{
  position:relative;
  width: 100%;
  max-width: 100%;
  height: calc(65vh - 1px);
}

.box.option{
  position:relative;
  background-color: #171511;
  width: 100%;
  height: calc(20vh);
  border-top: transparent;
}

.home{
  background-image: url(/src/assets/svg/loc-main.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-box{
  width: 75%;
  margin:2vh auto;
  display: flex;
  flex-direction: row;
}

.game-box-right{
  width: 75%;
  display: flex;
  flex-direction: column;
}

.main-title-card{
  scale: 0.65;
  position: absolute;
  bottom: 0%
}