.game-start-flavortext-container{
  height:inherit;
  position:relative;
  display: flex;
}

.game-start-flavortext{
  padding-left: 15%;
  font-family: 'VT323', monospace;
  font-size: 1.3rem;
  color: white;
}

.game-start-wizardme{
  margin-left: 2%;
  bottom:0%;
  height:90%;
  position:absolute;
  cursor: url('sword-cursor-medium.png'), auto;
}


.game-start-damage-text{
  position:absolute;
  font-family: 'VT323', monospace;
  font-size: 1.3rem;
  user-select: none;
  transform: translate(30%, 50%);
}


@keyframes fadeUpAndOut {
  from {
      transform: translate3d(0,20px,0);
      opacity: 1;
  }

  to {
      transform: translate3d(0,0,0);
      opacity: .2
  }
}