.location-imageloader{
  position:relative;
  height:inherit;
  overflow: hidden
}

.location-imageloader > *{
  width: auto;
  height: 100%;
  position: relative;
  right: calc(10px + 5vh);
  z-index: -1;
}