.option-choiceloader{
  display:flex;
  flex-direction: column;
}

.option-choiceloader > p{
  margin: 2vh 0 0 2vh;
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  color:white;
}

.option-choiceloader > p:hover {
  color: #46543C;
}