.start-options-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:100px;
  height:inherit;
  justify-content: center
}
.start-options-select{
  display: flex;
  flex-direction: row;
  margin: 0 0 1.3vh 0;
}


.start-options-select>button{
  font-family: 'VT323', monospace;
  font-size: 1.7rem;
  color: white;
  background-color:transparent;
  border: none
}

.start-options-select-sword{
  position: relative;
  visibility: hidden;
  display:inline;
  width:100px;
  transform: rotateX(45deg);
  animation: rotateAnimation 1.2s linear infinite;
}

.start-options-select>button:hover{
  color: #46543C;
}

.start-options-select>button:hover ~ .start-options-select-sword{
  visibility: visible;
}


@keyframes rotateAnimation {
  from {transform: rotateX(45deg);}
  to {transform: rotateX(225deg);}
}