.view-projects{
  width:100%;
}

.carousel{
}

.card{
  padding-top: 80px;
  height:200px
}
.card-image{
  scale: 5;
  z-index: 1
}
.card-text{
  padding-top:15px;
}

.selected .card-image{
  scale: 7
}